// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)
// $primary: #cc1616;
$body-color: white;
$body-bg: black;
$tertiary: #1c1c1c;
$secondary: #FF9935;
$navbar-light-active-color: $secondary;
$navbar-light-hover-color: $secondary;
$btn-border-radius: 0px;
// $primary: $body-color;
// $border-width: 2px;
// $border-color: #2b2626;
// $btn-padding-y: 1rem;
// $btn-padding-x: 4rem;
// $border-radius: .4rem;
// $success: #7952b3;
$font-primary :'Playfair Display',
serif;
$font-secondary :'Chivo',
sans-serif;
$font-family-base: $font-primary;
$font-family: $font-primary;

$phone: 480px;
$ipad : 801px;
$laptop: 1025px;

@import "../../node_modules/bootstrap/scss/bootstrap.scss";

.active {
    color: #FF9935;
}

html {
    scroll-behavior: smooth;

    ul {
        list-style: none;
    }

    a {
        text-decoration: none;
        color: $body-color !important;

        &:hover {
            color: $secondary;
        }
    }

}


.underline {
    z-index: 9;
    background:
        linear-gradient($secondary 0 0) var(--p, 50%) 100% /var(--d, 10%) 3px no-repeat;
    transition: 0.3s, background-position 0.3s 0.3s;
    cursor: pointer;


}

.scroll-top {
    width: 42px;
    border-radius: 50%;
    padding: 8px;
    transform: rotate(180deg);
    // z-index: 9999;
    border: 1px solid $secondary;
    position: relative;
}

nav {
    // background-color: #000;
    opacity: 1;
    // position: absolute !important;
    // top: 0px;
    z-index: 900;
    // transition: opacity 0.5s ease-in;


    .navbar-toggler {
        border: 0;
        transition: transform 0.5s ease-in-out;
        transform: scale(2);



        &:hover {
            transform: scale(1);
        }
    }

    .navbar-nav {
        flex-direction: row;

        .nav-item {
            font-family: $font-secondary;
            margin-left: 4rem;
            text-transform: uppercase;
            font-size: 14px;



        }

        .nav-link {
            &:hover {
                color: #FF9935 !important;
            }
        }
    }

    .current_page {
        border-bottom: 2px solid $secondary;
        padding-bottom: 3px !important;
    }

}

.navbar-collapse {

    .close-btn {
        width: 22px;
        /* padding: 1rem 1rem; */
        cursor: pointer;
        margin: 2rem;

    }

    .nav-item {
        // padding: 0 2rem;
        border-top: 1px solid #222527;
        border-bottom: 1px solid #222527;
        margin-top: -1px;
        padding-top: 0.5vw;
        padding-bottom: 0.5vw;
        position: relative;
        overflow: hidden;
        width: 100%;

    }

    .nav-link {
        max-width: 100%;
        position: relative;
        z-index: 5;
        width: 100%;
        /* margin-top: 5px; */
        /* margin-bottom: 0px; */
        justify-content: center;
        font-size: 50px;
        line-height: 55px;
        font-weight: 700;
        text-decoration: none;
        color: #fff;
        text-align: center;

        &::before {
            content: "";
            position: absolute;
            top: -100%;
            left: 0;
            width: 100%;
            height: 100%;
            /* Set the desired background color */
            z-index: -1;
            transition: top 0.3s cubic-bezier(0.42, 0, 0.02, 2.04);
        }

        &:hover::before {
            background-color: $secondary;
            top: 0;
            color: #000;
        }
    }

    background-color: #111314;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    box-sizing: border-box;
    position: fixed;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    z-index: 9999;

    ul {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80%;

        li {
            margin-top: -1px;
            padding-top: 0.5vw;
            padding-bottom: 0.5vw;
            border-top: 1px solid #222527;
            border-bottom: 1px solid #222527;

            a {

                &:hover {
                    color: #111414 !important;

                }
            }
        }
    }
}

section {
    padding: 2rem 0rem;
}

.cta {
    position: relative;
    display: inline-block;
    font-family: $font-secondary;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-transform: uppercase;

    &::after {
        content: '';
        position: absolute;
        bottom: -9px;
        left: 50%;
        transform: translateX(-50%);
        width: 27px;
        height: 3px;
        background-color: orange;
        // opacity: 0.5;
        transition: width 0.3s ease-in-out;
    }

    &:hover::after {
        width: 80%;
    }
}

.main-page_heading {
    h2 {
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 34.66px;
        text-align: center;
        color: #FFFFFF;
        width: 90%;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 2rem;

        @media only screen and (min-device-width: 480px) {
            width: 50%;
            font-size: 32px;
            line-height: 43px;
        }
    }
}

// hero

#hero {
    // margin-top: 6rem;
    position: relative;
    padding: 0;
    top: -6rem;
    margin-bottom: -6rem;

    .main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        position: relative;
        height: 100vh;


        .hero-body {
            h1 {
                all: unset;
                font-size: 1rem;
                font-weight: 400;
                line-height: calc(1.1 * 11)px;
                letter-spacing: 0em;
                max-width: 824px;

                @media only screen and (min-device-width: 480px) {
                    font-size: 1.5rem;

                }
            }



        }
    }

    img {
        width: 2rem;
        /* padding-bottom: 12rem; */
        // position: absolute;
        // bottom: 0;
        // z-index: 9;
    }


    h1 {
        font-weight: 800;
        font-size: 36px;
        line-height: 48px;
    }


    .hero-video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
    }

    .hero-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: -1;
    }

    .underline {
        &:hover {
            --d: 20%;
            --p: 50%;
            transition: 1s, background-size 0.2s;
        }
    }

    .scroll-btn {
        animation: bounce 1s infinite alternate;
        -webkit-animation: bounce 1s infinite alternate;
        position: relative;
        left: 0;
        bottom: -32vh;
    }

    @keyframes bounce {
        from {
            transform: translateY(0px);
        }

        to {
            transform: translateY(-15px);
        }
    }

    @-webkit-keyframes bounce {
        from {
            transform: translateY(0px);
        }

        to {
            transform: translateY(-15px);
        }
    }
}



#brand {
    background-color: $tertiary;

    p {
        max-width: 904px;
        font-family: $font-secondary;
        font-style: normal;
        font-weight: 100;
        font-size: 20px;
        line-height: 24px;
        text-align: center;

        /* White */

        color: #FFFFFF;
    }


    img {
        width: 125px;
        transition: all 0.5s ease-in-out;


    }

}

#services {
    position: relative;

    &::after {
        content: '';
        position: absolute;
        bottom: -9px;
        left: 50%;
        transform: translateX(-50%);
        width: 80%;
        height: 1px;
        background: #FFFFFF4D;
        opacity: 0.5;
        transition: width 0.3s ease-in-out;
    }

    li {
        font-family: $font-secondary;
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 27px;
        text-align: center;
        transition: font-size 0.5 ease-in;
        color: #FFFFFF;
        cursor: pointer;

        &:hover a {
            color: $secondary !important;

        }
    }


}

//   Projects
#projects {}


.image-section {
    display: flex;
    overflow-x: auto;
    justify-content: flex-start;
    flex-direction: column;

    a {
        &:nth-last-child(-n+2) {
            display: none;
        }
    }

    img {
        width: 100%;
        transition: all 0.5s ease-in;
        cursor: pointer;
        margin-bottom: 0.5rem;
    }

    p {
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
        z-index: 1;
    }

    @media only screen and (min-device-width: 480px) {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;



        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            opacity: 0;
            transition: opacity 0.3s ease;
        }

        a {
            width: 50%;
            position: relative;
            display: inline-block;

            img {
                width: 100%;
                height: auto;
                margin-bottom: 0rem;

            }

            &:nth-last-child(-n+3) {
                width: calc(100%/3);
            }

            &:nth-last-child(-n+2) {
                display: block;
            }

            &:hover .overlay {
                opacity: 1;
            }

            &:hover p {
                display: block;
            }
        }





    }
}





.image-section::-webkit-scrollbar {
    display: none;
    /* for Chrome, Safari, Opera */
}



//   Feedback Section
#feedback {
    .underline {
        display: block;
    }

    .underline:before {
        width: 3%;
        left: 48%;
    }

    .feedback-mobile {
        background: #1c1c1c;
        padding: 2rem 0;

        .carousel-body {
            border-bottom: 0.1px solid rgba(255, 255, 255, 0.329);
            padding-bottom: 1rem;
            margin-bottom: 1rem;
            margin-left: 1rem;
            margin-right: 1rem;

            &::before {
                content: url(../images/quote.svg);
                font-size: 9rem;
                position: absolute;
                top: -4rem;
                left: 0.5rem;
                color: #141414;
                font-family: cursive;
                /* transform: rotate(179deg); */
                opacity: 0.5;
                z-index: -1;
            }

            &::after {
                content: url(../images/quote.svg);

                font-size: 9rem;
                position: absolute;
                bottom: -2rem;
                right: 0.5rem;
                color: #141414;
                font-family: cursive;
                transform: rotate(179deg);
                opacity: 0.5;
                z-index: -1;

            }

            &:last-child {
                border-bottom: none;
            }
        }
    }

    .carousel-inner {
        width: 70%;
        margin: 0 auto;
        // min-height: 200px;


        .carousel-item {
            padding: 4rem;
            height: 250px;
            background-color: #1c1c1c;
            color: white;
            z-index: -1;


            .carousel-body {
                z-index: 5;
                position: relative;
            }

            &::before {
                content: url(../images/quote.svg);
                font-size: 9rem;
                position: absolute;
                top: -2rem;
                left: 2rem;
                color: #141414;
                font-family: cursive;
                /* transform: rotate(179deg); */
                opacity: 0.5;
                z-index: -11;
            }

            &::after {
                content: url(../images/quote.svg);

                font-size: 9rem;
                position: absolute;
                bottom: -2rem;
                right: 2rem;
                color: #141414;
                font-family: cursive;
                transform: rotate(179deg);
                opacity: 0.5;
                z-index: -11;
            }

        }
    }

    .carousel-text {
        font-size: 1rem;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: 0em;
        text-align: left;



    }

    .carousel-footer {
        font-family: $font-secondary;
        font-size: 1rem;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: 0em;
        text-align: left;
        opacity: 0.6;

    }

    .carousel-control-prev,
    .carousel-control-next {
        i {
            font-size: 2rem;
        }
    }

}

// Trivia


// contact
#contact {




    height: 182px;
    background: $tertiary;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    p {
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 43px;
        color: #ffffff;
    }



}

// #work,
// #work_category,
// #contact_page {
//     padding-top: 6rem;
// }

// footer
#footer {

    .navbar-nav {
        flex-direction: row;

        .nav-item {
            font-family: $font-secondary;
            margin-right: 1rem;
            text-transform: uppercase;
            font-size: 14px;



        }

        .nav-link {
            &:hover {
                color: #FF9935 !important;
            }
        }
    }

    p {
        font-family: $font-secondary;
        font-style: normal;
        font-weight: 400;
        font-size: 19px;
        line-height: 26px;
        color: #FFFFFF;
        opacity: 0.85;
    }

    .socials {
        display: flex;
        align-items: center;

        a {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40px;
            height: 40px;
            border: 2px solid $secondary;
            margin-right: 10px;
            color: $secondary;
            transition: all 1s ease-in-out;
            font-size: 1.5rem;
            padding: 1.5rem;
            border-radius: 0%;

            &:hover {
                border-radius: 50%;
                // color: red;
            }
        }

        a:last-child {
            margin-right: 0;
        }
    }

    .footer-text {
        font-family: $font-secondary;
        font-size: 19px;
        font-weight: 400;
        line-height: 23px;
        letter-spacing: 0em;

    }


}





#work,
#work_category {

    .page-title {
        font-family: 'Playfair Display';
        font-style: normal;
        font-weight: 700;
        font-size: 34px;
        line-height: 45px;
        text-align: center;

        /* White */

        color: #FFFFFF;
    }
}

@media only screen and (max-device-width: 480px) {
    .active {
        border-bottom: 2px solid #ff9935 !important;
    }

    .work-grid-item {
        border-bottom: 0.1px solid rgba(255, 255, 255, 0.329);
        padding-bottom: 1rem;
        margin-bottom: 1rem;
        margin-left: 1rem;
        margin-right: 1rem;

        &:last-child {
            border-bottom: none;
        }
    }
}

.work-grid {


    .work-grid-item img {
        height: 300px;
        object-fit: cover;
        min-width: 100%;
        // opacity: 0.5;
        transition: all 0.5s ease-in;

        &:hover {
            // object-fit: fill;

            scale: 1.05;
        }
    }
}

.work-grid-item h2 {
    display: block;
    display: -webkit-box;
    max-width: 100%;
    height: 2.6em;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 29px;
    color: #FFFFFF;
}


.work-filter a {
    font-family: $font-secondary;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 175.7%;
    /* or 28px */

    text-transform: uppercase;

    /* White */

    color: #FFFFFF;

    opacity: 0.7;

    &:hover {
        opacity: 1;

        // color: #FF9935 !important;

    }


}

.active {
    opacity: 1 !important;
    // color: #FF9935 !important;

}

#about {


    h1 {
        font-style: normal;
        font-weight: 700;
        font-size: 34px;
        line-height: 45px;
        text-align: center;

        /* White */

        color: #FFFFFF;
    }

    h2 {
        font-style: normal;
        font-weight: 700;
        font-size: 34px;
        line-height: 45px;
        text-align: center;

        /* White */


    }

    .about-content {
        font-style: normal;
        font-weight: 100;
        font-size: 22px;
        line-height: 24.2px;
        text-align: justify;
        opacity: .85;

        /* White */

        color: #FFFFFF;

        @media only screen and (max-device-width: 480px) {
            font-size: 1rem;

        }
    }

    h2 {
        font-style: normal;
        font-weight: 700;
        font-size: 34px;
        line-height: 45px;
        text-align: center;

        /* White */

        color: #FFFFFF;
    }

    img {
        width: 271px;
        height: 263px;
        margin-bottom: 1rem;
    }

    .pillars {
        p {
            font-style: normal;
            font-weight: 600;
            font-size: 23px;
            line-height: 31px;
            color: #FFFFFF;
            margin: 0;
            padding-top: 10px;
        }

        .position {
            font-family: $font-secondary;
            font-style: normal;
            font-weight: 100;
            font-size: 18px;
            line-height: 21px;
            text-align: start;

            /* White */

            color: #FFFFFF;
        }
    }


}


#single_work {


    .heading {
        font-family: $font-secondary;
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 18px;
        text-align: center;

        /* Yellow */

        color: #FF9935;
    }

    .work-title {
        font-style: normal;
        font-weight: 500;
        font-size: 22px;
        line-height: 29px;

        /* White */

        color: #FFFFFF;
    }

    ul li {
        margin-bottom: 1rem;

        p,
        a {
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 20px;

            /* White */

            color: #FFFFFF;

        }
    }


    .entry-content {
        font-family: $font-primary;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        text-align: justify;
        color: #FFFFFF;
        overflow-x: clip;
        font-size: 1rem;

        p:empty {
            opacity: 0.8;
        }


    }

    .work-sub-title {
        font-family: $font-secondary;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-align: justify;

        /* Yellow */

        color: #FF9935;
    }

    .back-btn {
        font-family: $font-secondary;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 175.7%;
        /* identical to box height, or 25px */

        text-transform: uppercase;

        /* White */

        color: #FFFFFF;

    }
}

#contact_page {
    .contact-section {
        background-color: $tertiary;

    }

    #contact {
        display: none !important;
    }

    .color-block {
        position: relative;
        left: 8px;
        background-color: #FF9935;
        height: 100%;
        width: 100%;
        transition: all 1s ease-in;

        &:hover {
            left: 0;
            top: 5px;
        }
    }


    .socials {
        height: 52px;

    }

    .socials {
        display: flex;
        align-items: center;

        a {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40px;
            height: 40px;
            border: 1px solid $secondary;
            margin-right: 10px;
            color: $secondary;
            transition: all 0.5s ease-in-out;
            font-size: 1.5rem;
            padding: 1.5rem;
            border-radius: 0%;

            &:hover {
                border-radius: 50%;
                // color: red;
            }
        }

        a:last-child {
            margin-right: 0;
        }
    }

    input,
    textarea {
        height: 47px;
        color: #fff;
        background-color: rgba(0, 0, 0, 0);
        border: 1px solid rgba(214, 209, 202, .18);
        border-radius: 5px;
        padding-top: 10px;
        font-family: Visby cf, sans-serif;
        font-weight: 400;
        line-height: 1.5;
        margin-bottom: 1rem;


    }

    textarea {
        height: auto;
        padding-top: 15px;
        padding-bottom: 75px;
        padding-left: 1rem;
        width: 100%;
    }

    button {
        width: 100%;
        cursor: pointer;
        font-family: $font-secondary;
        color: #111314;
        text-align: center;
        text-transform: capitalize;
        background-color: $secondary;
        border-radius: 4px;
        padding: 15px 23px;
        font-size: 17px;
        font-weight: 600;
        transition: all .2s;
        display: inline-block;

        &:hover {
            background-color: #fff;
        }
    }

    .contact-sub-text {
        font-family: $font-primary;
        font-weight: 700;
        font-size: 22px;
    }

    .success-box {
        position: fixed;
        border: 1px solid white;
        height: 50vh;
        width: 50vw;
        left: 25%;
        top: 25%;
        background: #444444;
        z-index: 9999;
        display: none;

        .message {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            height: 100%;

            h2 {
                color: $secondary
            }
        }

        img {
            height: 42px;
            padding: 0.5rem;
        }
    }
}

#work,
#work_category {

    .navigation {
        display: flex;
        justify-content: center;
    }
}

#services_page {

    .row {
        padding-bottom: 2rem;
        margin-bottom: 2rem;
        text-align: start;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);

        &:last-child {
            border-bottom: none;
        }
    }

    h1 {
        font-family: $font-primary;
        font-size: 34px;
        font-weight: 600;
        line-height: 45px;
        letter-spacing: 0em;
        text-align: center;

    }

    h2 {
        text-transform: uppercase;
        font-family: $font-secondary;
        font-size: 24px;
        font-weight: 100;
        line-height: 29px;
        letter-spacing: 0em;
        text-align: start;

    }

    ul {
        list-style: disc;
        text-align: left;
        margin-bottom: 0;

        li {
            font-family: $font-secondary;
            font-size: 20px;
            font-weight: 100;
            line-height: 24px;
            letter-spacing: 0em;
            text-align: justified;
            opacity: 0.85;

        }
    }

    a {
        font-family: $font-secondary;
        font-size: 20px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: start;
        padding-left: 0.75rem;
        text-decoration: underline;
        text-decoration-color: $secondary;
        color: white !important;

        &:hover {
            color: $secondary !important;
        }

    }
}

.pagination {

    /* Custom pagination styles */

    display: flex;
    justify-content: center;
    background: $body-bg;
    opacity: 1;
    margin-bottom: 10%;
    margin-top: 3%;

    .nav-links {
        list-style: none;
        padding: 0;
        display: flex;
        margin: 0 auto;

        .page-numbers,
        .prev,
        .next {
            font-family: $font-secondary;
            font-style: normal;
            font-weight: 700;
            font-size: 1rem;
            line-height: 175.7%;
            text-transform: uppercase;
            color: #FFFFFF !important;
            opacity: 0.7;
            margin: 0 0.5rem;

            &:hover {
                opacity: 1;

            }

        }

        .current {
            opacity: 1;
            // font-size: 14px;
            cursor: not-allowed;

        }
    }


}